/* board */
#board {
    padding-top: 3em;
    text-align: center;
}
/* rows */
.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
}
/* cells */
.row > div {
    float: left;
    height: 100px;
    width: 100px;
}
/* lines */
.top {
    border-bottom: 1px solid black;
}
.bottom {
    border-top: 1px solid black;
}
.left {
    border-right: 1px solid black;
}
.right {
    border-left: 1px solid black;
}
/* hover pointer */
.row > div:hover {
    cursor: pointer;
}